<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".NewsActivity"/>
        <activity android:name=".RouteActivity"/>
        <activity android:name=".RouteActivity2"/>
        <activity android:name=".RouteActivity3"/>
        <activity android:name=".RouteActivity4"/>
        <activity android:name=".RouteActivity5"/>
        <activity android:name=".RouteFilter"/>
        <activity android:name=".StopFilter"/>
        <activity android:name=".StopActivity"/>
        <activity android:name=".PlanFilter"/>
        <activity android:name=".BiginFilter"/>
        <activity android:name=".EndFilter"/>
        <activity android:name=".TimeActivity"/>
        <activity android:name=".MapActivity"/>

    </application>

</manifest>